@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #e0f2e5;
  height: 100vh;
  text-align: center;
}

.landing {
  position: relative;
  background: url('./images/About.jpg') no-repeat center center/cover;
  height: 100vh;
}

/*
##################
  Navigation Start
##################
*/
nav {
  background-color: #24252a;
  padding: 1% 8%;
  text-decoration: none;
}

nav li {
  list-style: none;
  padding: 0px 20px;
}

nav li:not(:last-of-type)::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: white;
  transition: width 0.3s;
}

/* Underline navigation link on hover */
nav li:hover:not(:last-of-type)::after {
  width: 100%;
  transition: width 0.4s;
}

.user-navigation {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  display: flex;
  justify-content: flex-end;
}

.login-register {
  margin-left: 2%;
  padding: 0px 15px;
  background-color: #5ac0de;
  color: white;
  border: none;
  content: none;
  border-radius: 10px;
}

/* Darken navigation link on hover */
.login-register:hover {
  background-color: #5ac0de;
  opacity: 0.6;
  transition: opacity 0.4s;
}
/*
################
  Navigation End
################
*/

/*
##################
  Sidebar Start
##################
*/

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #44464e;
  overflow-x: hidden;
  padding-top: 10px;
  transition: 0.5s;
}

.sidebar button {
  padding: 2% 1%;
  text-decoration: none;
  font-size: 16px;
  background-color: #44464e;
  color: white;
  display: block;
  transition: 0.3s;
  outline: none;
  border: none;
}

.sidebar button:hover {
  color: #327ab7;
}
.sidebar button:focus {
  color: #327ab7;
}

.openbtn {
  font-size: 16px;
  cursor: pointer;
  background-color: #23242a;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
}

.openbtn:hover {
  background-color: #43464e;
  border: none;
}

.main {
  transition: margin-left 0.5s;
  padding: 20px;
}

.main button {
  outline: none;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
}

/*
##################
  Sidebar End
##################
*/

.dateSpacing {
  padding: 2.5rem 0rem;
  float: left;
}

.graphSpacing {
  margin-bottom: 80px;
}

/*
######################################Journal Entry Styling
######################################
######################################
*/

.journalHeading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
}

/*
######################################
######################################
######################################
*/
